<app-menu></app-menu>
<div class="pagina">
    <header>
        <h1>Pomar | Movimento</h1>
    </header>
    <form [formGroup]="formulario">
        <div>
            <mat-form-field appearance="outline" color="accent">
                <mat-label>Produto</mat-label>
                <input matInput formControlName="produto">
            </mat-form-field>
            <mat-form-field appearance="outline" color="accent">
                <mat-label>Quantidade</mat-label>
                <input matInput formControlName="quantidade">
            </mat-form-field>
            
        </div>  
        <mat-form-field appearance="outline" color="accent" class="grande">
            <mat-label>Tipo</mat-label>
            <input matInput formControlName="tipo">
        </mat-form-field>

        <div class="controles">
            <button mat-raised-button [disabled]="formulario.enabled" (click)="onIncluir()">Incluir</button>
            <button mat-raised-button [disabled]="formulario.invalid" (click)="onSalvar()">Salvar</button>
            <button ma mat-raised-button [disabled]="formulario.disabled " (click)="onCancelar()"> Cancelar</button>
        </div>

    </form>
    <div class="relatorio">
        <h2>movimento</h2>
        <table>
            <tr>
                <th>Ação</th>
                <th>quantidade</th>
                <th>produtos</th>
                <Th>movimentacao</Th>
                
                
            </tr>
            <tr *ngFor="let usuario of relatorio">
                <td><button>Excluir</button></td>
                <td>{{usuario.quantidade}}
                <td>{{usuario.tb_produtos_id}}</td>
                <td>{{usuario.tb_movimentacao_id}}
                
            </tr>
        </table>

    </div>
    <div>

    </div>
</div>