header{
    height: 15vh;
    h1{
        font-size: 1.5em;
    }
}                    
mat-form-field{
    margin-right: 15px;
    width: 300px;
}

button{
    margin-right: 15px;
}
.grande{
    width: 615px;
}

//estilo de tabela de relatorio
.relatorio{
    width: 80%;
    height: 30%;
    padding-top: 10px;
    h2{ font-family: arial;

    }
    table{
        width:  100%;
        font-family: arial;
        th{
            border-bottom:1px #CCC solid ;
            padding: 3px;
            text-align: left;
        }
        td{
            border-bottom: 3px #CCC;
            padding: 3px;
        }
    }
}