<app-menu></app-menu>
<div class="pagina">
    <header>
        <h1>Pomar |  Cadastro</h1>
    </header>
    <form [formGroup]="formulario">
        <div>
            <mat-form-field appearance="outline" color="accent">
                <mat-label>Apelido</mat-label>
                <input matInput formControlName="apelido">
            </mat-form-field>
            <mat-form-field appearance="outline" color="accent">
                <mat-label>Num_linha</mat-label>
                <input matInput formControlName="num_linha">
            </mat-form-field>
        </div>  
        <mat-form-field appearance="outline" color="accent" class="grande">
            <mat-label>num_coluna</mat-label>
            <input matInput formControlName="num_coluna">
        </mat-form-field>

        <div class="controles">
            <button mat-raised-button [disabled]="formulario.enabled" (click)="onIncluir()">Incluir</button>
            <button mat-raised-button [disabled]="formulario.invalid" (click)="onSalvar()">Salvar</button>
            <button ma mat-raised-button [disabled]="formulario.disabled " (click)="onCancelar()"> Cancelar</button>
        </div>

    </form>
    <div class="relatorio">
        <h2>Materias</h2>
        <table>
            <tr>
                <th>Ação</th>
                <th>Apelido</th>
                <th>Linha</th>
                <Th>Coluna</Th>
                
                
            </tr>
            <tr *ngFor="let usuario of relatorio">
                <td><button>Excluir</button></td>
                <td>{{usuario.apelido}}
                <td>{{usuario.num_linha}}</td>
                <td>{{usuario.num_coluna}}
                
            </tr>
        </table>

    </div>
    <div>

    </div>
</div>