<app-menu></app-menu>
<div class="pagina">
    <header>
        <h1>Pomar | colheita</h1>
    </header>
    <form [formGroup]="formulario">
        <div>
            <mat-form-field appearance="outline" color="accent">
                <mat-label>Quantidade</mat-label>
                <input matInput formControlName="quantidade">
            </mat-form-field>
            <mat-form-field appearance="outline" color="accent">
                <mat-label>Arvore</mat-label>
                <input matInput formControlName="arvore">
            </mat-form-field>


            <div class="controles">
                <button mat-raised-button [disabled]="formulario.enabled" (click)="onIncluir()">Incluir</button>
                <button mat-raised-button [disabled]="formulario.invalid" (click)="onSalvar()">Salvar</button>
                <button ma mat-raised-button [disabled]="formulario.disabled " (click)="onCancelar()"> Cancelar</button>
            </div>

        </div>
    </form>
    <div class="relatorio">
        <h2>Colheita</h2>
        <table>
            <tr>
                <th>Ação</th>
                <th>colheita</th>
                <th>Quantidade</th>
                <Th>Arvore</Th>
            </tr>
            <tr *ngFor="let usuario of relatorio">
                <td><button>Excluir</button></td>
                <td>{{usuario.quantidade}}
                <td>{{usuario.arvore}}</td>
            </tr>
        </table>

    </div>
    <div>

    </div>
</div>