
<section>
<img src="assets\img\logo matheus.png">
<nav>
   <a routerLink="/Home"> Home</a>
   <details>
    <summary>Administração</summary>
    <div>
        <a href="add-user" routerLink="/cadUsuario">usuário</a>
        <a routerLink="/cadMaterial">Material</a>
        <a routerLink="/cadProduto">Produto</a>
    </div>
    
   </details>
   <details>
    <summary>Pomar</summary>
    <div>
        <a routerLink="/cadPomar">Cadastro</a>
        <a routerLink="/cadMovimento">Movimento</a>
        <a routerLink="/cadColheita">Colheita</a>
        <a routerLink="/cadArvore">Arvore</a>
    </div>
    
   </details>
</nav>
</section>