<app-menu></app-menu>
<div class="pagina">
    <header>
        <h1>Administração |  Produto</h1>
    </header>
    <form [formGroup]="formulario">
        <div>
            <mat-form-field appearance="outline" color="accent">
                <mat-label>Descrição</mat-label>
                <input matInput formControlName="descricao">
            </mat-form-field>
            <mat-form-field appearance="outline" color="accent">
                <mat-label>Unid_Medida</mat-label>
                <input matInput formControlName="unid_medida">
            </mat-form-field>
        </div>
        <mat-form-field appearance="outline" color="accent" class="grande">
            <mat-label>valor</mat-label>
            <input matInput formControlName="valor">
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent" class="grande">
            <mat-label>Tipo</mat-label>
            <input matInput formControlName="tipo">
        </mat-form-field>

        <div class="controles">
            <button mat-raised-button [disabled]="formulario.enabled" (click)="onIncluir()">Incluir</button>
            <button mat-raised-button [disabled]="formulario.invalid" (click)="onSalvar()">Salvar</button>
            <button ma mat-raised-button [disabled]="formulario.disabled " (click)="onCancelar()"> Cancelar</button>
        </div>

    </form>
    <div class="relatorio">
        <h2>Produto</h2>
        <table>
            <tr>
                <th>Ação</th>
                <th>Descrição</th>
                <Th>Unid_Medida</Th>
                <th>Valor</th>
                <th>Tipo</th>
            </tr>
            <tr *ngFor="let usuario of relatorio">
                <td><button>Excluir</button></td>
                <td>{{usuario.descricao}}
                <td>{{usuario.unid_medida}}</td>
                <td>{{usuario.valor}}
                <Td>{{usuario.tipo}}</Td>
            </tr>
        </table>

    </div>
    <div>

    </div>
</div>